<?xml version="1.0"?>
<launch>

	<!-- topic name -->

	<!-- static tf -->
	<!-- 3D-LiDAR_to_base_link -->
	 <node name="lidar_to_baselink" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 1.57 0 0 base_link Pandar"/>
	<!-- Wheel_to_base_link -->
	 <node name="odom_to_baselink" pkg="tf2_ros" type="static_transform_publisher" args="0.65 0 -0.2925 0  0 0 base_link odometry"/>
	<!-- IMU_to_base_link -->
	 <!-- <node name="imu_to_baselink" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 0 base_link imu_link"/> -->

	<!-- dynamic tf -->
	<!-- map_to_base_link -->
	<node pkg="ekf_localizer" type="dynamic_tf_cub" name="dynamic_tf_cub" >
	</node>


</launch>
